@font-face {
    font-family: 'One Piece';
    src: url('media/OnePieceFont.ttf') format('truetype');
}

body, html{
    margin: 0;
    padding:0;
    height:100%;
    overflow:hidden;
}
.video-container{
    position: relative;
    width:100%;
    height:100%;
    overflow:hidden;
    
}

video{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    object-fit: cover;
    z-index: -1;
    opacity: .35;
}

.content{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: bisque;
    text-align: center;
    z-index: 1;
    justify-content: flex-start;
    background-color: rgba(0,0,0,0.5);
}

#title{
    font-size: 10rem;
    font-family: 'One Piece' ;
    color: brown;
    margin-bottom: 25px;
    
}

.intro-text{
    font-size: 5rem;
    font-weight: bolder;
    transition: opacity 0.5s ease-in-out;
}

.buttons{
    display: flex;
    justify-content: center;
}

.button{
    width: 200px;
    height:200px;
    border:1px solid bisque;
    margin:0 25px ;
    display: flex;
    justify-content: center ;
    align-items: center;
    transition: all 0.4s ease;
}

.button img{
    max-width: 100%;
    max-height: 100%;
    display:block;
    object-fit: contain;
}

#rock, #paper, #scissor{
    width: 200px;
    height: 200px;
    object-fit: fill;
}

.menu-title {
    font-size: 5rem ;
    opacity: 0;
    margin-top: 20px;
    margin-bottom: 40px;
}

.player-info-container {
    display: flex;
    flex-direction: row;
    /* background-color: red; */
    justify-content: center;
    gap: 20%;
}

.player1, .player2 {
    font-size: 6rem;
    display: flex;
    flex-direction: column;
    gap: 100px;
}
.game-container{
    opacity: 0;
}

.buttons{
    margin-bottom: 20px;
}

.result{
    margin-top: 40px;
    font-size: 5rem;
}